.home{background-image: url(/Resources/assets/backgrounds/h_img.jpg);
background-repeat: no-repeat;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-bottom: 25px;
float: center;
}


h1{font-size: xx-large;
    text-align: center;
    color: aliceblue;
}
.services{background-image: url(/Resources/assets/backgrounds/s_image.jpg);
}
.services{font-size: medium;}
.contact{background-image: url(/Resources/assets/backgrounds/c_image.jpg);

}